{% extends "app/base.html" %}

{% load static %}

{% block content %}

    

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="{% static 'app/img/ban_lo.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Delivery infomation</h2>
                        <div class="breadcrumb__option">
                            <a href="./index.html">Home</a>
                            <a>Delivery infomation</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->


<section id="content" class="container  ">

    
      <h2><span class="text-success">Delivery</span></h2>
<h3>Shipping your package</h3><br>
<p>
Packages are generally shipped within 5 days of receipt of payment (excluding wilaya). They are shipped by allo jibli with a tracking number.</p>

<p>Shipping costs include preparation and packaging costs as well as postage. The preparation costs are fixed, while the transport costs vary according to the total weight of the package. We recommend that you consolidate all of your items into one order. We cannot combine two orders placed separately and shipping charges apply to each of them. <br><br>Box sizes are appropriate and your items are properly protected. Any complaint must be made within 48 hours of delivery by e-mail or post.</p>

<p>The shipping costs are fixed at 200da and if you are outside Sidi Bel Abbes 500da and are free from an order of 3000.</p>

<p>Additional costs of 200 da will be added for delivery to Corsica.</p>

   <br><br><br><br>
    
      
    

    
      
    

  </section>


{% endblock content %}