{% extends "app/base.html" %}

{% load static %}

{% block content %}

   
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" >
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Reset Password</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->
    <br><br>
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            <h4>Reset Password Completed!</h4><br>
            <div><iframe src="https://giphy.com/embed/l0Iyl55kTeh71nTXy" width="480" height="320"
                         frameBorder="0" class="giphy-embed" allowFullScreen></iframe> </div>
        </div>
    </div>

    <br><br>
    <br><br>
    <!-- Checkout Section End -->
{% endblock %}